/.bundle
/vendor/bundle

*.log
/log
/tmp
/coverage/
/spec/tmp

/public/system
/public/uploads

/db/schema.rb
/db/sphinx/*
/db/*.sqlite3
/db/*.sqlite3-journal

/nbproject/*

/config/*.sphinx.conf

config/secrets.yml
config/database.yml
config/cable.yml
config/god.rb

.*.swp
**.orig
*.sublime*
.DS_Store
*.rbenv*
.rspec
.rvmrc
gems/*
.irb-history
.bash_history
